.DS_Store
GPU_workstation_survey/
Y_test.npy
X_test.npy
.ipynb_checkpoints/
BenchmarkAlignments-master/
training_small/
training_big/
training_data.npy
training_dists.npy
CNN_model_03.h5
training_dists_500_4950.npy
training_dists_500_100_100_1.npy
CNN_model_35_epochs.h5
output
nohup.out
DATA/
